/* /src/pages/About.css */

.about-container {
    padding: 50px;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .about-title {
    font-size: 3rem;
    margin-bottom: 30px;
    color: aliceblue;
  }
  
  .about-paragraph {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 16px;
    color:aliceblue;
  }